<a href="https://colab.research.google.com/github/jeroi07/Python_PGM/blob/main/Exercise_2_Strings_Seung_ho_%EC%9D%B4%EC%8A%B9%ED%98%B8_2025144830.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>String Operations</h1>

<p><strong>Welcome!</strong> This notebook will teach you about the string operations in the Python Programming Language. By the end of this notebook, you'll know the basics string operations in Python, including indexing, escape sequences and operations.</p>

<h2 id="strings">What are Strings?</h2>

The following example shows a string contained within 2 quotation marks:

In [1]:
# Use quotation marks for defining string

"Michael Jackson" #"" ''

'Michael Jackson'

We can also use single quotation marks:

In [ ]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

A string can be a combination of spaces and digits:

In [3]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
'123456'

'123456'

A string can also be a combination of special characters :

In [5]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

We can print our string using the print statement:

In [6]:
# Print the string

print("hello!")
print("seung ho lee!")

hello!
seung ho lee!

We can bind or assign a string to another variable:

In [18]:
# Assign string to variable

Name = "Michael Jackson"
Name = "seung ho lee 25HYMOT"

In [19]:
# bind two strings to one variable

Age = " 38" #문자열 ""

Name + Age

'seung ho lee 25HYMOT 38'

<hr>

<h2 id="index">Indexing (너무 너무 많이 사용됨) </h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

 The first index can be accessed as follows:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>
<hr/>

In [20]:
# Print the first element in the string

print(Name[0])
print(Name[4])

s
g

 We can access index 6:

In [21]:
# Print the element on index 6 in the string

print(Name[6])

h

Moreover, we can access the 13th index:

In [22]:
# Print the element on the 13th index in the string

print(Name[13])

2

<h3 id="neg">Negative Indexing</h3>

 We can also use negative indexing with strings:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [23]:
# Print the last element in the string

print(Name[-15])
print(Name[0]) #인덱스에 사용하는 괄호는 대괄호 []

s

 The first element can be obtained by  index -15:

In [25]:
# Print the first element in the string

print(Name[-13])

o

We can find the number of characters in a string by using <code>len</code>, short for length:

In [29]:
# Find the length of string
# 이 함수 length도 자주 사용함

len("SEUNG HO LEE")

12

**굵은 텍스트**<h3 id="slice">Slicing</h3> 데이터 핸들링 시 자주 사용

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the index just before the next index (e.g., the index of "k" equals to 11, and the next index is 12, so Name[8:12] = "Jack")
</div>
<hr/>

In [30]:
# Take the slice on variable Name with only index 0 to index 3
# 자주 사용함..

Name[0:5]

'seung'

In [34]:
# Take the slice on variable Name with only index 8 to index 11

Name[9:15]

'lee 25'

<h3 id="stride">Stride</h3> #자주 쓰지는 않음

 We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [38]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'sugh e 5YO'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [39]:
# Get every second element in the range from index 0 to index 4

Name[0:7:2]

'sugh'

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [45]:
# Concatenate two strings

Statement = Name + " is the best"
Statement

'seung ho lee 25HYMOT is the best'

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [49]:
# Print the string for 3 times

3 * "Michael Jackson "
10 * "best singer"

'best singerbest singerbest singerbest singerbest singerbest singerbest singerbest singerbest singerbest singer'

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to “Michael Jackson is the best".

In [ ]:
# Concatenate strings

Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

<hr>

<h2 id="escape">Escape Sequences</h2> 자주 사용

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [52]:
# New line escape sequence

print(" Lee seung ho \n is the best" )

 Lee seung ho
 is the best

Similarly, back slash  "t" represents a tab:

In [54]:
# Tab escape sequence

print(" Lee seung ho \t is the best \n" )

 Lee seung ho 	 is the best

 If you want to place a back slash in your string, use a double back slash:

In [57]:
# Include back slash in string

print(" Lee seung ho  is the best" )

 Lee seung ho  is the best

<hr>

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [59]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper
#  #A라는 문자열을 모두 대문자로 바꿔라. A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: <built-in method upper of str object at 0x7a449a193330>

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [68]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'SEUNGHO')
C = B.replace('Jackson', 'LEE') #변수
C

'SEUNGHO LEE is the best'

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsFind.png" width="600" align="center" />

In [71]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('ae')

4

In [72]:
# Find the substring in the string.

Name.find('sn')

-1

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [73]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1

<hr>

<h2 id="Exercise">Exercise Strings 1</h2>

What is the value of the variable <code>A</code> after the following code is executed?

In [85]:
# Write your code below and press Shift+Enter to execute
print(A)
A = "1"

1

*Double*-click <b>here</b> for the solution.


```
# 코드로 형식 지정됨
```


<!-- Your answer is below:
"1"
-->

What is the value of the variable <code>B</code> after the following code is executed?

In [87]:
# Write your code below and press Shift+Enter to execute
print(2)
B = "2"

2

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"2"
-->

What is the value of the variable <code>C</code> after the following code is executed?

In [94]:
# Write your code below and press Shift+Enter to execute
A = "1"
B = "2"
C = A + B
print(C)

12

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"12"
-->

<hr>

Consider the variable <code>D</code> use slicing to print out the first three elements:

In [106]:
# Write your code below and press Shift+Enter to execute
print(D[3])
D = "ABCDEFG"

D

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
print`(D[:3]) `
# or
print(D[0:3])*이탤릭체 텍스트*
-->

<hr>

Use a stride value of 2 to print out every second character of the string <code>E</code>:

In [111]:
# Write your code below and press Shift+Enter to execute

E = 'clocrkr1e1c1t'
print(E[::2])

correct

*Double*-click <b>here</b> for the solution.

<!-- Your answer is below:
print(E[::2])
-->

<hr>

Print out a backslash:

In [114]:
# Write your code below and press Shift+Enter to execute
print("\\")

\

Double-click <b>here</b> for the solution.
<!-- Your answer is below:
print("\\")
or
print(r" \ ")
-->

<hr>

Convert the variable <code>F</code> to uppercase:

In [122]:
# Write your code below and press Shift+Enter to execute

F = "You are wrong"
F = F.upper()
print(F)

YOU ARE WRONG

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
F.upper()
-->

<hr>

Consider the variable <code>G</code>, and find the first index of the sub-string <code>snow</code>:

In [126]:
# Write your code below and press Shift+Enter to execute

G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

in_snow = G.find("snow")
print(in_snow)

95

**Double**-click __here__ for the solution.

<!-- Your answer is below:
G.find("snow")
-->

In the variable <code>G</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

In [127]:
# Write your code below and press Shift+Enter to execute
G_replaced = G.replace ("Mary" , "Bob")
print(G_replaced)

Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go

Double-click __here__ for the solution.

<!-- Your answer is below:
G.replace("Mary", "Bob")
-->

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python. However, there is one more thing you need to do. The Data Science community encourages sharing work. The best way to share and showcase your work is to share it on GitHub. By sharing your notebook on GitHub you are not only building your reputation with fellow data scientists, but you can also show it off when applying for a job. Even though this was your first piece of work, it is never too early to start building good habits. Please submit all your exercises to Github & let the traces in our LMS, so for me to access your work.
<hr>

<hr>
<p>Copyright &copy; 2023 RYU HOKYOUNG based on 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>